* {
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.App {
	width: 40rem;
	padding: 20px;
	background-color: rgb(133, 204, 228);
	color: whitesmoke;
	border: none;
	border-radius: 20px;
}

.quote-container {
	position: relative;
}

.fa-quote {
	font-size: 22px;
	position: absolute;
	top: 0px;
}

.fa-quote-left {
	right: 0px;
}

.fa-quote-right {
	left: 0px;
}

.quote-container p {
	max-width: 90%;
	text-align: justify;
	margin: auto;
}

.quote-author {
	margin: 0 60px 0 0;
	text-align: end;
	font-size: 18px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.btn-container button {
	color: antiquewhite;
	border-color: antiquewhite;
}

.btn-container button:hover {
	background-color: rgb(45, 183, 230);
	border: none;
}

.tweet-btn .fa-twitter {
	font-size: 18px;
}
